@media (max-width: 1200px)
  .container
    max-width: 960px
  .hotel
    &__slider
      width: 590px
    &-slider  
      &__image
        width: 100%
        height: 100% 
        object-fit: cover  
  .card
    width: 230px
    height: 230px  
  .block
    &-big
      &__block
        &-stars
          margin-top: 0  
  .footer
    &__input
      flex-basis: 100%

@media (max-width: 992px)
  .container,
  .newsletter-wrapper
    max-width: 700px
  .logo
    width: 132px  
  .navbar
    &-top
      padding-bottom: 30px
      padding-top: 30px
    &__search
      margin-left: auto
      
    &-menu
      padding-top: 22px
      padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px  
  .search
    &__input
      width: 340px   
  .hotel
    &-grid
      flex-direction: column
    &-next-block
      flex-direction: row 
    &__slider
      margin-bottom: 30px  
    &-slider
      width: 100%
  .booking
    width: 340px  
  .map
    width: 340px
  .reviews
    &__title
      font-size: 30px
      line-height: 38px
      margin-bottom: 60px
    &-slider
      &__item
        max-width: 580px
      &__button
        &_prev
          left: 10px
        &_next 
          right: 10px
  .activities
    padding: 70px 0 70px 0
    &__title
      margin-bottom: 50px
  .card
    width: 48.4%
    height: 255px  
  .other-packages
    &__wrapper
      grid-template: 32% 32% 32%/ 48% 48%
      column-gap: 20px
    &__title 
    
      margin-bottom: 50px
  .title
    font-size: 30px
    line-height: 38px  
  .footer
    padding: 73px 0 33px 0
    &-wrapper
      grid-template-columns: repeat(6, 1fr)
      grid-row-gap: 40px
    &__input
      flex-basis: 49%  
    &__logo
      width: 104px
      grid-row: 1 / 2
      grid-column: span 2
    &__social
      &-network
        grid-row: 1 / 2 
        grid-column: span 4
        align-self: center
    &__categories
      grid-row: 2 / 3 
      grid-column: span 2
    &__legal
      grid-column: span 2  
    &__additional
      grid-column: span 2  
    &__contact
      &-details
        grid-row: 3
        grid-column: span 5
      &-form
        grid-row: 4  
        grid-column: span 5         

@media (max-width: 768px)
  .container
    max-width: 576px
    width: 92%
  .navbar
    &-menu, &__search, &__user
      display: none

    
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px   
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: #fff
      cursor: pointer

      &__line
        width: 16px
        height: 1px
        background-color: $text-color 

  .stars
    flex-basis: auto
  .hotel
    padding-top: 1px
    padding-bottom: 40px
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        flex-basis: 100%
        margin-top: 10px
      &__rating
        display: none
      &__offer 
        order: -1
        margin-left: 0
      &__discription
        width: 95%
    &__slider
      height: 350px
    &-next-block
      flex-direction: column
      min-height: 456px
  .booking
    width: 100%   
  .map
    width: 100%
  .newsletter
    &-wrapper
      max-width: 576px
      width: 92%
      flex-direction: column
      align-items: start
  .reviews
    &__title
      font-size: 25px
      line-height: 33px
    &-slider
      
      &__item
        padding: 0 30px 36px 
        &:before, &:after
          display: none
      &__button
        top: 30px
        &_prev
          left: 50%
          transform: translateX(-50%)
          margin-left: -90px
        &_next
          right: 50%
          transform: translateX(50%)
          margin-right: -90px
  .other-packages
    padding: 20px 0 30px 0
    &__title
      margin-bottom: 30px
    &__wrapper
      grid-template-rows: 29% repeat(4,16%)
      grid-template-columns: 100%
      column-gap: 20px
    &__block
      height: auto
  .title
    font-size: 24px
    line-height: 30px
  
  .block    
    &-big
      display: grid
      grid-column: 1
      grid-row: 1
      grid-template-columns: 50% 50%
      border-radius: 8px
      overflow: hidden
      &__block
        &-main-text
          margin-bottom: 20px
        &-main
          margin-bottom: 20px
    &-small
      display: grid
      grid-template-rows: 100%
      grid-template-columns: 50% 50%
      max-width: 100% 
      &__image
        height: 100%
      &__block
        &-header
          height: 100%
          overflow: hidden
          position: relative
  .footer
    &__input
      flex-basis: 100% 
    &__contact
      &-details
        grid-column: span 6
      &-form
        grid-column: span 6          
 

@media (max-width: 576px)
  .logo 
    width: 99px 
  .hotel-slider
    height: 250px
  .hotel
    &__slider
      margin-bottom: 20px 
       
    &-next-block
      min-height: 446px 
  .newsletter
    padding: 76px 0 83px 0
    &__title
      margin-top: 0
      margin-bottom: 37px
    &-title
      font-size: 20px
      line-height: 25px
      &__strong
        font-size: 30px
        line-height: 38px
        margin-top: 5px
  .subscribe
    width: 100%   
  .reviews
    padding-bottom: 50px 
    &__title
      font-size: 18px
      line-height: 23px
      margin-bottom: 42px
  .card
    width: 100%   
  .other-packages
    &__wrapper
      grid-template-rows: 540px repeat(4, 340px)
      grid-template-columns: 100% 
  .block-box 
    padding: 15px      
  .block
    &-list
      &__item 
        margin-bottom: 5px

    &-big
      grid-template-columns: 100%
      grid-template-rows: 35% 65%
      &__block
        &-header
          height: 200px
        &-title 
          margin-bottom: 10px
        &-main 
          margin-bottom: 10px
        &-main-text 
          margin-top: 0
          margin-bottom: 10px
    &-small
      grid-template-rows: 42% 58%
      grid-template-columns: 100% 
      &__block
        &-list 
          margin-bottom: 10px
        &-title 
          margin-bottom: 10px
        &-header
          height: 150px 
    
    &-button
      width: 50% 
  .footer
    padding: 69px 0 21px 0
    &-wrapper
      grid-template-columns: 1fr
      grid-row-gap: 30px
      margin-bottom: 30px
    &__logo
      grid-row: 1
      grid-colum: 1
    &__social
      &-network 
        grid-row: 2
        grid-colum: 1
    &__legal 
      grid-row: 3
      grid-colum: 1
    &__additional
      grid-row: 4
      grid-colum: 1
    &__categories
      grid-row: 5
      grid-colum: 1
      margin-bottom: 10px
    &__contact
      &-details
        grid-row: 6
        grid-colum: 1
        margin-bottom: 10px
      &-form
        grid-row: 7
        grid-colum: 1   
    &__bottom
      display: block          
    &__copyright
      margin-bottom: 10px
      
    &__title
      &_inline
        margin: 0 43px 0 0
      &_mb-3
        margin-bottom: 15px
@media (max-width: 420px)  
  .other-packages
    &__wrapper
      grid-template-rows: 540px repeat(4, 340px)
      grid-template-columns: 100% 
  .block
    &-main-text
      font-style: normal
      font-weight: normal
      font-size: 12px
      line-height: 150%   
  
  
@media (max-width: 320px)
  .container
    max-width: 280px
  
  .hotel
    &-next-block
      min-height: 406px
    &__slider
      height: 180px
  .map
    height: 173px  
  .reviews
    &__title
      max-width: 245px
      margin-left: auto 
      margin-right: auto
    &-slider
      &__text
        text-align: left
  .activities
    padding: 68px 0 40px 0
    &__title
      font-size: 18px
      line-height: 23px
      margin-bottom: 50px
  .other-packages
    &__wrapper
      grid-template-rows: 600px repeat(4, 400px)
      grid-template-columns: 100% 
  .block-box 
    padding: 15px      
  .block
    &-list
      &__item 
        margin-bottom: 5px

    &-big
      grid-template-columns: 100%
      grid-template-rows: 32% 68%
      &__block
        &-header
          height: 200px
        &-title 
          margin-bottom: 10px
        &-main 
          margin-bottom: 10px
        &-main-text 
          margin-top: 0
          margin-bottom: 10px
    &-small
      grid-template-rows: 38% 62%
      grid-template-columns: 100% 
      &__block
        &-list 
          margin-bottom: 10px
        &-title 
          margin-bottom: 10px
        &-header
          height: 150px 
    &-footer
      flex-direction: column
      align-items: start
    &-new-price
      margin-bottom: 10px  
    &-old-price 
      margin-bottom: 10px
    &-button
      width: 100%
  .footer
    &__logo
      width: 104px 
    &__message
      margin-bottom: 15px  
    &__button
      order: 1
    &__info
      width: 100% 
      margin-bottom: 15px 

         
