@media (max-width: 1200px)
  .container
    max-width: 960px

@media (max-width: 992px)
  .container
    max-width: 700px
  .logo
    width: 132px  
  .navbar
    &-top
      padding-bottom: 30px
      padding-top: 30px
    &__search
      margin-left: auto
      
    &-menu
      padding-top: 22px
      padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px  
  .search
    &__input
      width: 340px      

@media (max-width: 768px)
  .container
    max-width: 576px
    width: 92%
  .navbar
    &-menu, &__search, &__user
      display: none

    
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: #fff
      cursor: pointer

      &__line
        width: 16px
        height: 1px
        background-color: $text-color 

.stars
  flex-basis: auto   
.hotel
  padding-top: 1px
  padding-bottom: 40px
  &-wrapper
    justify-content: space-between
  &-info
    &__text
      width: 100%
    &__name
      flex-basis: 100%
      margin-top: 10px
    &__rating
      display: none
    &__offer 
      order: -1
      margin-left: 0           

@media (max-width: 480px)
  .logo
    width: 99px

@media (max-width: 320px)
  .container
    max-width: 280px
