*
  box-sizing: border-box
body
  font-family: 'Muli', sans-serif
  color: $text-color
.container
  max-width: 1110px
  margin: auto
<<<<<<< HEAD
=======
 
>>>>>>> 7b2249fa332cf4f4f4a8cf3c5403fd2ab7c3871f
