.other-packages
  padding: 40px 0 70px 0
  &__title
    text-align: center
    margin-bottom: 65px
    margin-top: 0
  &__wrapper
    display: grid
    grid-template: repeat(2, auto) / repeat(3, auto)
    column-gap: 30px
    justify-content: space-between
    flex-wrap: wrap
    row-gap: 30px
  &__block
    height: auto 
.title
  font-style: normal
  font-weight: bold
  font-size: 36px
  line-height: 45px
  text-align: center
  text-transform: uppercase
.block 
  border-radius: 8px
  background-color: #0a223d
  color: #fff
  &-main-text
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 161%

  &-big
    display: grid
    grid-column: 1/3
    grid-row: 1
    grid-template-columns: 50% 50%
    border-radius: 8px
    overflow: hidden
    &__block
      &-header
        height: 500px
      &-title
        margin-bottom: 27px
      &-stars
        font-size: 7px
        margin-top: 19px
        margin-bottom: 5px

      &-offer
        font-style: normal
        font-weight: 600
        font-size: 12px
        line-height: 15px
        padding: 7px 21px 7px 12px
        margin-top: 26px
      &-main-text
        margin-bottom: 43px
      &-main
        margin-bottom: 37px 
        padding-left: 13px
      &-list
        &__text
          font-style: normal
          font-weight: normal
          font-size: 12px
          line-height: 15px
          margin-left: 15px
      &-old-price
        display: block
        margin-left: 14px

        font-style: normal
        font-weight: normal
        font-size: 14px
        line-height: 18px
        text-decoration-line: line-through
      &-new-price
        margin-left: 14px
        margin-top: 0
        font-style: normal
        font-weight: bold
        font-size: 24px
        line-height: 30px
  &-small
    display: grid
    grid-template-rows: auto
    max-width: 350px
    overflow: hidden
    &__block
      &-offer
        margin-top: 26px
        padding: 4px 6px
        font-style: normal
        font-weight: 600
        font-size: 8px
        line-height: 10px
      &-title
        margin-bottom: 23px
      &-list
        margin-bottom: 24px
        &__text
          font-style: normal
          font-weight: normal
          font-size: 12px
          line-height: 15px
          margin-left: 13px
      &-header 
        height: 250px
        overflow: hidden 
        position: relative
      &-old-price
        display: block
        font-style: normal
        font-weight: normal
        font-size: 14px
        line-height: 18px
        text-decoration-line: line-through
      &-new-price
        
        margin-top: 0
        font-style: normal
        font-weight: bold
        font-size: 24px
        line-height: 30px
    &__image
      height: 100%
  &__image
    position: relative
    object-fit: cover
    width: 100%
    height: 100%
  &-header
    position: relative  
  &-offer
    position: absolute
    left: 0
    color: #fff
    background-color: #ec1f46
    padding: 
    border-radius: 0 4px 4px 0 
  &-box
    padding: 30px 22px 25px 32px
  &-title
    font-style: normal
    font-weight: bold
    font-size: 18px
    line-height: 21px
    margin-top: 0
  &-list
    &__item
      display: flex
      align-items: center
      margin-bottom: 11px
    
  
  
    
  &-footer
    display: flex 
    flex-wrap: wrap
    align-items: center
    justify-content: space-between
  &-button
    font-style: normal
    font-weight: 600
    font-size: 13px
    line-height: 20px
    padding: 10px 30px 10px 26px
    background-color: #EC1F46
    color: #fff
    cursor: pointer
    border: none
    border-radius: 4px

    



